spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz#egg=en_core_web_md
streamlit==1.11.1
spacy-streamlit==1.0.1
quantities==0.13.0
folium==0.11.0
streamlit-folium>=0.3
geopandas==0.11.1
mysql-connector-python==8.0.30
